@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 97px 1fr 1fr 0px;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;

    column-gap: 5px;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;

    grid-column-start: 1;
    grid-column-end: 4;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a:hover, .footer_heading a:hover {
    color: #0088a9;
    transition: 0.3s ease-out;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.content_left {
    background-color: #218380;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.content_left button {
    background-color: rgba(105, 105, 179, 1);
}

.content_left button:hover {
    background-color: rgba(105, 105, 179, 0.8);
}

.content_left * {
    background-color: #218380;
    color: #24252A;
    margin-left: 20px;
}

.content_left input {
    border: solid 2px;
    border-color: #24252A;
    margin-left: 0px;
    height: 25px;
}

.content_left textarea {
    border: solid 2px;
    border-color: #24252A;
    height: 100px;
    margin-left: 0px;
    width: 80%;
}

.content_left h2 {
    margin-left: 25px;
}

.content_right {
    margin-bottom: 2.5px;
    background-color: #6969B3;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
}

footer {
    grid-row: 4;
    grid-column: 1 / span 3;
}

.footer_container {
    padding: 32px 0px 32px 0px;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer_heading {
    display: flex;
    flex-direction: column;
    margin-right: 64px;
}

.footer_heading h2 {
    margin-bottom: 32px;
}

.footer_heading a {
    margin-bottom: 8px;
}

.footer_email_form h2 {
    margin-bottom: 32px;
}

#footer_email {
    background-color: white;
    width: 250px;
    height: 40px;
    border-radius: 50px;
    outline: none;
    border: none;
    padding-left: 8px;
    font-size: 16px;
    margin-bottom: 16px;
}

#footer_email::placeholder {
    color: #24252A;
}

.signup_form {
    background-color: #218380;
    grid-row: 2;
    grid-column: 2;
    display: grid;
    place-items: center;
    text-align: center;
    border-radius: 5px;
}

.signup_form input {
    margin: 5px;
    display: block;
    align-items: center;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    width: 300px;
    height: 25px;
}

.signup_form h2, button {
    margin: 10px;
}

.sign_up_error_message {
    grid-row: 3;
    grid-column: 2;
    text-align: center;
}
.content_right h2 {
    margin-left: 25px;
}

.content_right div {

    background-color: #0088a9;
    color: #24252A;
    height: auto;
    margin: 15px;
    border-radius: 25px;
}

.content_right div * {
    padding: 10px 60px 10px 20px;
    margin: 0px;
}

.delete_btn {
    color: #24252A;
    background-color: #218380;
    border-radius: 0px 0px 25px 25px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: auto;
}

.delete_btn:hover {
    background-color: rgba(33, 131, 128, 0.8);
}